{% extends 'base.html' %}
{% load static %}
{% block title%}{{ common_user_detail.user.first_name }} {{ common_user_detail.user.last_name }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="jumbotron">
                    <div style="text-align: right">
                        <a href="#">Groups</a>
                    </div>
                    <div style="text-align: right">
                        <a href="#">Friends</a>
                    </div>
                    <div style="text-align: right">
                        <a href="#">Sent Requests</a>
                    </div>
                    <div style="text-align: right">
                        <a href="#">Received Requests</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="{{ common_user_detail.profile.url }}" class="img-thumbnail rounded">
                <div class="centered">
                    {% if request.user.common_user.pk == pk %}
                        <a href="{% url 'for_users:user_update_page' pk=user.common_user.pk %}"
                            class='btn btn-md btn-outline-warning'>Update</a>
                        <a href="{% url 'for_users:user_delete_page' pk=user.common_user.pk %}"
                            class='btn btn-md btn-outline-danger'>Delete</a>
                    {% endif %}
                    {% if user.is_authenticated and request.user.common_user.pk != pk %}
                        {% if request.user.common_user not in common_user_detail.friends.all %}
                            <a href="{% url 'for_users:change_friends' pk=pk status='add' %}" class="btn btn-sm btn-outline-primary">Add to
                                friends</a>
                        {% else %}
                            <a href="{% url 'for_users:change_friends' pk=pk status='remove' %}" class="btn btn-sm btn-outline-primary">Remove from
                                friends</a>
                        {% endif %}
                    {% endif %}
                </div>
                <p>number of friends: {{ common_user_detail.friends.all.count }}</p>
                {% if common_user_detail.friends.all.count %}
                    {% for friend in friends.all|slice:":5" %}
                        <a href="{{ friend.get_absolute_url }}"><img src="{{ friend.profile.url }}" height="50" width="50"></a>
                    {% endfor %}
                {% endif %}
                <p>number of sent requests: {{ common_user_detail.friend_request_sent.count }}</p>
                {% if common_user_detail.friend_request_sent.all.count %}
                    {% for friend in friends_sent.all|slice:":5" %}
                        <a href="{{ friend.get_absolute_url }}"><img src="{{ friend.profile.url }}" height="50" width="50"></a>
                    {% endfor %}
                {% endif %}
                <p>number of received requests: {{ common_user_detail.friend_request_received.all.count }}</p>
                {% if common_user_detail.friend_request_received.all.count %}
                    {% for friend in friends_received.all|slice:":5" %}
                        <a href="{{ friend.get_absolute_url }}"><img src="{{ friend.profile.url }}" height="50" width="50"></a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h3>{{ common_user_detail.user.first_name }} {{ common_user_detail.user.last_name }}</h3>
                <div class="container">
                    <h5>About:</h5>
                    <textarea cols="30" rows="10" disabled>{{ common_user_detail.about}}</textarea>
                    <h5>Groups:</h5>
                    <h6>
                        {% for group in common_user_detail.user_groups.all|slice:":10" %}
                            <a href="{{ group.group.get_detail_url }}">{{group.group}}</a>
                            {% if group != common_user_detail.user_groups.last %}
                                ;
                            {% endif %}
                        {% endfor %}
                    </h6>
                </div>
                <div class="container">
                    <h5>Posts:</h5>
                    {% if request.user.common_user.pk == pk %}
                        <a href="{% url 'posts:post_create_page' %}" class='btn btn-secondary btn-block'>Create new Post</a>
                    {% else %}
                        <a href="{% url 'posts:post_create_page' user_pk=pk %}" class='btn btn-secondary btn-block'>Create new Post</a>
                    {% endif %}
                    <div class="container">
                        {% for post in post_list.all %}
                            {% include 'my_post/_post.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}