<div class="bordered">
    {{ comment.comment_text|safe|linebreaks }}
    {% if comment.comment_author %}
    <p>Created by: <a
            href="{% url 'for_users:user_home_page' pk=comment.comment_author.pk %}">@{{ comment.comment_author }}</a>
    </p>
    {% endif %}
    <p>{{ comment.create_data|date:'d-m-Y' }} {{ comment.create_data|time:'H:i' }}</p>
    {% if request.user.common_user == comment.comment_author or request.user.common_user.pk == pk %}
    <a href="{{ comment.get_delete_url }}" class="btn btn-danger">Delete comment</a>
    {% endif %}
</div>