li.nodots {
    list-style-type: none;
    margin-left: 3%;
}

.to-right{
    box-align: right;
    margin-left: 16;
}

div.centered{
    text-align: center;
}   

.centerstage {
    margin-left: auto;
    margin-right: auto;
}

.bordered{
    border: 2px double black;
    border-radius: 10px;
    padding: 2%;
    margin: 5px 0px;
}