{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'header_loader.html' %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" type="image/jpg" href="{% static 'img/logo.JPG' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
</body>
{% include 'page_bottom_loader.html' %}
</html>