{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!-- <p>You are logged in as: {{ request.user.common_user.pk }}</p> -->
        {% if form.instance.pk %}
            <p>Post Update</p>
        {% else %}
            <p>Post Create</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-success">Save</button>
            {% if group_pk %}
                <a href="{% url 'groups:group_detail' pk=group_pk %}" class='btn btn-primary'>Go back to group</a>
            {% elif form.instance.pk %}
                <a href="{{ object.get_absolute_url }}" class='btn btn-primary'>Go back to post details</a>
            {% elif user_pk %}
                <a href="{% url 'for_users:user_home_page' pk=user_pk %}" class='btn btn-primary'>Go back to
                    user</a>
            {% else %}
                <a href="{% url 'for_users:user_home_page' pk=request.user.common_user.pk %}" class='btn btn-primary'>Go back to
                    user</a>
            {% endif %}
        </form>
    </div>
    <p>post pk from object: {{ object.pk }}</p>
    <p>post author from object: {{ object.author }}</p>
    <p>post text from object: {{ object.text }}</p>
    <p>user from request: {{ request.user }}</p>
    <p>common_user from request: {{ request.user.common_user }}</p>
    <p>group id: {{ group_pk }}</p>
    <p>group id: {{ request.group_pk }}</p>
    <p>group id: {{ object.group_pk }}</p>
    <script>var editor = new MediumEditor('.editable');</script>
{% endblock %}